[Desktop Entry]
Type=Application
Name=Tab Atelier
GenericName=Terminal
Comment=Guake-style drop-down terminal emulator
Exec=/usr/bin/tab-atelier
Icon=tab-atelier
Terminal=false
Categories=System;TerminalEmulator;Utility;
Keywords=terminal;tty;shell;guake;dropdown;
StartupNotify=true
StartupWMClass=tab-atelier
